/* google fonts need to be put here starting with '@import' */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Coral+Pixels&family=Gorditas:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
    background: rgb(205, 7, 255);
}

.images {
	flex-direction: column;
	transition: transform 0.1s ease-in-out; 
}


.images:hover {
  transform: rotate(1440deg); 
  transition: transform 0.1s ease-in-out;
}

/*
	start with the outermost container, the <nav>
	this controls the layout of two elements - the .logo div and the <ul>
	remember, this is for the NARROW view - the default should be for mobile devices
*/
nav {
	display: flex;
	flex-direction: column;
	font-family: "Coral Pixels", serif;
	font-weight: 400;
	font-style: normal;
	padding: 3rem;
	justify-content: center;
	background-color: hsl(249, 100%, 50%);
	
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(136, 11%, 34%);
	border-radius: 0.5rem;
}

.logo h1 {
	color: hsl(136, 99%, 51%);
	font-weight: bold;

}

nav ul {
	background-color: hsl(0, 100%, 49%);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.3rem solid hsl(134, 62%, 4%);
	border-radius: 0.5rem;
	transition: transform 0.1s ease-in-out; 
	transform: rotate(25deg);
}

nav ul:hover {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/*
	the actual links - these are the clickable elements
	- setting to 'inline-block' fixes things, just do it
*/
nav ul li a {
	display: inline-block;
	padding: 1rem;
	color: hsl(136, 11%, 34%);
	transform: scale(1);
}

nav ul li a.current,
nav ul li a:hover {
	background-color: hsl(306, 98%, 49%);
	color: rgb(11, 6, 9);
	font-weight: bold;
	transform: scale(2);
}

nav ul li a:hover {
	transform: translate(0.1rem, 0.1rem);
	transform: scale3d(3, 5, 2);
}



/* the enahanced, wide screen version - IF the page is wider than 768px */
@media screen and (min-width: 769px) {
	nav,
	nav ul {
		flex-direction: row;
	}
	.logo {
	display: flex;
	background-color: hsl(134, 98%, 49%);
	width: 6rem;
	height: 6rem;
	transform: scale(5);
}

	.images {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.images {
	flex-direction: row;
	transition: transform 0.1s ease-in-out; 
}


.images:hover {
  transform: rotate(1440deg); 
  transition: transform 0.1s ease-in-out;
}
}