/* google fonts need to be put here starting with '@import' */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gorditas:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
    background: rgb(255, 242, 251);
}

.images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.images img {
  transition: transform 0.9s ease-in-out; 
}

.images img:hover {
  transform: rotate(720deg); 
}

/*
	start with the outermost container, the <nav>
	this controls the layout of two elements - the .logo div and the <ul>
	remember, this is for the NARROW view - the default should be for mobile devices
*/
nav {
	display: flex;
	flex-direction: column;
	font-family: "Cherry Bomb One", sans-serif;
	padding: 3rem;
	justify-content: center;
	background-color: hsl(122, 93%, 94%);
	
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(134, 54%, 71%);
	border-radius: 0.5rem;
}

.logo h1 {
	color: rgb(255, 242, 251);
	font-weight: bold;

}

nav ul {
	background-color: hsl(123, 52%, 80%);
	display: flex;
	flex-direction: column;
	list-style-type: none;
	align-items: center;
	border: 0.3rem solid hsl(134, 54%, 71%);
	border-radius: 0.5rem;
}


/*
	the actual links - these are the clickable elements
	- setting to 'inline-block' fixes things, just do it
*/
nav ul li a {
	display: inline-block;
	padding: 1rem;
	color: hsl(136, 11%, 34%);
}

nav ul li a.current,
nav ul li a:hover {
	background-color: hsl(134, 54%, 71%);
	color: rgb(255, 242, 251);
	font-weight: bold;
	border-radius: 0.5rem;
	transform: scale(1);
}

nav ul li a:hover {
	transform: translate(0.1rem, 0.1rem);
}



/* the enahanced, wide screen version - IF the page is wider than 768px */
@media screen and (min-width: 769px) {
	nav,
	nav ul {
		flex-direction: row;
	}
	.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(134, 54%, 71%);
	width: 6rem;
	height: 6rem;
}

	.images {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
